@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f0f3ec;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.hover\:bg-yellow-600:hover {
  background-color: #379ec1; /* Modifier la couleur en fonction de vos besoins */
}

.focus\:outline-none:focus {
  outline: none;
}

.focus\:ring-2:focus {
  box-shadow: 0 0 0 3px rgba(255, 213, 0, 0.5); /* Modifier la couleur en fonction de vos besoins */
}

.focus\:ring-offset-2:focus {
  outline-offset: 2px;
}

.focus\:ring-yellow-700:focus {
  box-shadow: 0 0 0 3px rgba(252, 211, 77, 0.5); /* Modifier la couleur en fonction de vos besoins */
}

/* Styles pour le bouton désactivé */
[disabled] {
  cursor: not-allowed;
  opacity: 0.5; /* Modifier l'opacité en fonction de vos besoins */
  pointer-events: none;
}

[disabled] .hover\:scale-110:hover {
  transform: none;
}
